.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;

    // header__wrapper
    &__wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        transition: background-color 0.3s ease-out;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    }

    // .header__top
    &__top {
    }

    // .header__body
    &__body {
        padding: 11.5px 0;
        background: $lightColor;
    }

    // .header__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 37px;
    }

    // .header__logo
    &__logo {
        max-width: 134px;
    }

    // .header__menu
    &__menu {
        flex: 0 1 747px;
        padding: 0px 25px;
        color: $darkColor;
        font-weight: 600;

        & svg {
            color: $infoColor;
        }

        @media (max-width: $md2 + px) {
            flex: 1 1 auto;
        }
    }

    // .header__buttons
    &__buttons {
    }
}

.top-header {
    background: $lightGrayColor;
    padding: 9.5px 0;
    // .top-header__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .top-header__menu
    &__menu {
        flex: 0 1 690px;
        font-weight: 400;
        color: $mainColor;

        & a::after {
            display: none;
        }

        svg {
            font-size: 16px !important;
            margin: 0px 5px 0px 0px;
        }
    }

    // .top-header__actions
    &__actions {
        padding: 0px 40px;
        @media (max-width: $md4 + px) {
            padding: 0 20px 0 0;
        }
    }
}

.actions-header {
    flex: 1 1 auto;

    position: relative;
    z-index: 5;

    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: flex-end;
    grid-template-columns: auto;
    @include adaptiv-value("gap", 40, 20, 1);
}

.ads-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $md4 + px) {
        flex: 0 1 160px;
    }

    // .ads-header__button
    &__button {
        width: 100%;
        font-size: 10px;
        line-height: 14px;
        padding: 8px 12px;
        user-select: none;
        cursor: pointer;
        color: $lightColor;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

        background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
        border-radius: 19px;

        @media (min-width: $md4 + px) {
            width: 224px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;

            padding: 10px 18px;
            gap: 10px;
        }
    }
}

.favorites-header {
    // .favorites-header__item
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $mainColor;
        @include adaptiv-value("column-gap", 10, 5, 1);
    }
}

.header-buttons {
    flex: 0 0 138px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // .header-buttons-button
    &-button {
        color: $violetColor;
    }
}
