.search-estate {
    // .search-estate__body
    &__body {
    }

    // .search-estate__search
    &__search {
        background: #fff;
        border-radius: 0 10px 10px 10px;
        padding: 15px 21px;
    }

    // .search-estate__elements
    &__elements {
    }
}

.estate-elements {
    // .estate-elements__button
    &__button {
        padding: 13px 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $lightColor;
        background: rgba(45, 57, 136, 0.5);
        transition: all 0.3s ease-out 0s;

        &._active {
            border-radius: 10px 10px 0 0;
            background: $lightColor;
            color: $violetColor;
        }

        @media (any-hover: hover) {
            &:hover {
                border-radius: 10px 10px 0 0;
                background: $lightColor;
                color: $violetColor;
            }
        }
    }
}

.search-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    // .search-panel__item
    &__item {
        flex: 1 1 16.6%;
        min-height: 78px;
        white-space: nowrap;

        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $lightGrayColor2;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 11px;

        &:not(:nth-last-child(2), :last-child) {
            padding: 0px 20px 0px 0px;
            border-right: 1px solid rgba(102, 78, 249, 0.1);
        }
    }

    // .search-panel__link
    &__link {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        transition: all 0.3s ease 0s;
        color: $darkColor;

        & svg {
            color: $violetColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $violetColor;
            }
        }
    }

    // .search-panel__range
    &__range {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 15px;

        &::after {
            content: "";
            width: 6px;
            height: 2px;
            background: $violetColor;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // .search-panel__button
    &__button {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        cursor: pointer;
        color: $darkColor;
        font-weight: 500;
        word-spacing: nowrap;

        transition: all 0.3s ease 0s;

        & svg {
            color: $violetColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $violetColor;
            }
        }
    }

    // .search-panel__submit
    &__submit {
        width: 100%;
        height: 100%;

        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #242424;
        background: $infoColor;
        padding: 10px 15px;
        border-radius: 22px;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        transition: all 0.3s ease-out 0s;

        & svg {
            font-size: 14px;
        }

        @media (any-hover: hover) {
            &:hover {
                background: $violetColor;
                color: $lightColor;
            }
        }
    }
}
