.admin {
    &__ticket-loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__ticket-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 25px;
        border-radius: 3px;
        border: 1px solid rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 8px 1px rgba(34, 60, 80, 0.2);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        color: $darkColor;
        font-weight: 400;
    }
    &__ticket-created {
        font-weight: 600;
    }
    &__ticket-text {
    }

    &__ticket-button {
        border: 1px solid $violetColor;
        color: $violetColor;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        background: $lightColor;
        font-size: 16px;

        @media (any-hover: hover) {
            &:hover {
                color: $lightColor;
                background: $violetColor;
            }
        }
    }
}

.info-title {
    font-size: 26px;
    color: $darkColor;
}
