.favourite-btn {
    width: auto;
    height: auto;
    background: rgba(235, 87, 87, 0.1);
    border-radius: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    fill: $dangerColor;

    // .favourite-btn__title
    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $dangerColor;
    }

    & svg {
        width: 15px;
        height: 14px;
    }
}
