.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    @media (max-width: $md4 + px) {
        width: 120px;
        height: auto;
        object-fit: cover;
    }

    & img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
