.menu {
	@media (max-width: $md2+px) {
		display: none;
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .menu__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md2 + px) {
			& .dropdown {
				display: none;
			}
		}

		@media (min-width: $md2 + px) {
			@media (any-hover: hover) {
				&:hover .menu__link {
					color: $infoColor;

					&::after {
						opacity: 1;
						width: 100%;
						visibility: visible;
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		position: relative;
		display: flex;
		align-items: center;
		color: inherit;
		font-weight: inherit;
		transition: all 0.3s ease-out 0s;

		& svg {
			font-size: 18px;
			margin: 0px 0px 0px 15px;
			@media (max-width: $md1 + px) {
				margin: 0px 0px 0px 5px;
			}
		}

		&._active {
			color: $infoColor;

			&::after {
				opacity: 1;
				width: 100%;
				visibility: visible;
			}
		}

		@media (min-width: $md2 + px) {
			&::after {
				content: "";
				width: 0;
				height: 3px;
				background: $infoColor;

				position: absolute;
				top: calc(100% + 16.5px);
				left: 50%;
				transform: translate(-50%, 0%);

				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-out 0s;
			}
		}
	}

	// menu__sub-list
	&__sub-list {
		flex: 1 1 100%;
		background: none;
	}

	// menu__sub-item
	&__sub-item {
		cursor: pointer;
		padding: 10px 15px;
		transition: all 0.3s ease-out;
		@media (any-hover: hover) {
			&:hover {
				background: $lightGrayColor;
			}
		}
	}

	// menu__sub-link
	&__sub-link {
		display: block;
		color: inherit;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;

		svg {
			display: none;
		}
	}
}