.estates-features {
    width: 100%;
    overflow-x: auto;

    &__list {
        border-collapse: collapse;
        width: 100%;
        max-width: none;

        & th,
        & td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            vertical-align: top;
            color: $darkColor;
        }

        & th {
            background-color: #f2f2f2;
            font-weight: normal;
        }
    }

    & ul li {
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
    }
}

.estate-sort {
    display: flex;
    align-items: flex-start;
    // flex-direction: column;
    gap: 20px;
}
