.user-profile {
    // .user-profile__content
    &__content {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .user-profile__form
    &__form {
        width: 100%;
        max-width: 623px;
    }
}
