.text-field {
    flex: 1 1 100%;

    // .text-field__content
    &__content {
        position: relative;
    }

    &.error {
        & input {
            border: 2px solid $dangerColor;
        }
        & .text-field__icon {
            fill: $dangerColor;
        }
        @media (any-hover: hover) {
            &:hover .text-field__icon {
                fill: $dangerColor !important;
            }
        }
    }

    // .text-field__input
    & input {
        width: 100%;
        padding: 9px 15px;
        border-radius: 20px;
        background: $lightGrayColor;
        border: 2px solid $lightGrayColor;
        min-height: 36px;

        @media (any-hover: hover) {
            &:hover {
                border-color: $violetColor;
                background: #fff;
            }
        }
    }

    // .text-field__error
    &__error {
        margin: 10px 0px 0px 0px;
    }
}
