.text-field {
    flex: 1 1 100%;
    // .text-field__input
    &__input {
        width: 100%;
        padding: 9px 15px;
        border-radius: 20px;
        background: $lightGrayColor;
        border: 2px solid $lightGrayColor;
        min-height: 36px;

        @media (any-hover: hover) {
            &:hover {
                border-color: $violetColor;
                background: #fff;
            }
        }
    }

    // .text-field__error
    &__error {
    }
}
