.dropdown {
	position: relative;
	// .dropdown__header
	&__header {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: $darkColor;

		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("gap", 15, 5, 1);

		& > * {
			color: inherit;
		}
	}

	// .dropdown__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .dropdown-menu
	&-menu {
		width: calc(100% + 100px);
		margin: 40px 0px 0px 0px;

		& .MuiList-root {
			border-radius: 10px;
			padding: 0;
			box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
		}

		&__item {
			&.MuiMenuItem-root {
				font-size: 14px;
				line-height: 17px;
				color: $darkColor;
				padding: 10px 15px;

				& a {
					color: inherit;
					text-decoration: none;
				}
			}
		}

		@media (any-hover: hover) {
			transition: all 0.2s ease-out .3s;
		}
	}
}