.estate-comments {
    // .estate-comments__title
    &__title {
        color: $darkColor;
        @include adaptiv-value("font-size", 26, 18, 1);
        font-weight: 700;
        margin: 0px 0px 30px 0px;
    }

    // .estate-comments__item
    &__item {
        position: relative;
        width: 100%;
        background: $lightColor;
        border-radius: 15px;
        padding: 25px;
        box-shadow: 0px 0px 10px rgba(135, 124, 202, 0.3);
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }

    // .estate-comments__user
    &__user {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0px 0px 15px 0px;

        @media (max-width: $md4+px) {
            flex-direction: column-reverse;
        }
    }

    // .estate-comments__main
    &__main {
    }

    // .estate-comments__content
    &__content {
    }
}

.comment-header {
    // .comment-header__info
    &__info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    // .comment-header__avatar
    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $violetColor;
    }

    // .comment-header__description
    &__description {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;

        & .rating {
            display: flex;
            align-items: center;
            gap: 15px;
            & > * {
                font-weight: 500;
                margin: 0;
            }
        }
    }

    // .comment-header__name
    &__name {
        font-size: 20px;
    }

    // .comment-header__answer-text
    &__answer-text {
        position: absolute;
        right: 25px;
        bottom: 25px;
        transition: all 0.3s ease 0s;
        text-transform: capitalize;

        @media (any-hover: hover) {
            &:hover {
                color: $violetColor;
                cursor: pointer;
            }
        }
    }

    // .comment-header__answer-user
    &__answer-user {
        margin: 10px 0px 0px 0px;
    }
}

.comment-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @media (max-width: $md4+px) {
        justify-content: flex-start;
        margin: 0px 0px 10px 0px;
    }

    // .comment-main__created
    &__created {
    }

    // .comment-main__remove
    &__remove {
        padding: 0;

        & svg {
            width: 20px;
            height: 20px;
            fill: $violetColor;
        }
    }
}

.comments-content {
    width: 100%;
    display: flex;

    // .comments-content__description
    &__description {
        max-width: calc(100% - 90px);
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    // .comments-content__text
    &__text {
        cursor: pointer;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $violetColor;
            }
        }
    }
}
